@model RegistrationViewModel

@{
    Layout = "_Layout";
}

<div class="registration-page">
    <div class="registration-page-title">Не все поля заполнены правильно. <br />Пожалуйста, перепроверьте введенную информацию, и повторите попытку регистрации</div>

    <div class="repeat-reg-form">
        <form action="/User/Registration" method="post">
            <div class="repeat-reg-blocks">
                <div>Логин: <span class="label-requested-fields">*</span></div>
                @Html.TextBoxFor(x => x.Login, new { @class = "inputFields repeat-login" })
                @Html.ValidationMessageFor(x => x.Login, "This user exists", new { @class = "validation-mess-login" })
            </div>
            <div class="repeat-reg-blocks">
                <div>Пароль: <span class="label-requested-fields">*</span></div>
                @Html.TextBoxFor(x => x.Password, new { type = "password", @class = "inputFields" })
                @Html.ValidationMessageFor(x => x.Password)
            </div>
            <div class="repeat-reg-blocks">
                <div>Подтвердить пароль: <span class="label-requested-fields">*</span></div>
                @Html.TextBoxFor(x => x.ConfirmPassword, new { type = "password", @class = "inputFields" })
                @Html.ValidationMessageFor(x => x.ConfirmPassword, "Пароли не совпадают", new { @class = "validation-mess-repet-password" })
            </div>
            <div>
                <button class="pglogbut" type="submit">Зарегистрироваться</button>
            </div>
        </form>
    </div>
</div>