<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/reset.css?v=1" />
    <link rel="stylesheet" href="~/css/layout.css?v=2" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/layout.js"></script>

    @RenderSection("Scripts", required: false)
    @RenderSection("Style", required: false)
</head>
<body>
    <div class="wrapper">
        <div class="nice-popup hide">
            <div class="popup-cover"></div>
            <div class="login-block">
                <div class="reg-login-btn">
                    @*<div class="reg-log-container">*@
                        <div class="switcher-login-btn selected-login selected-reg-login">Войти</div>
                        <div class="switcher-reg-btn">Зарегистрироваться</div>
                    @*</div>*@
                </div>
                <div class="login-direction">

                    <form action="/User/Login" method="post" id="login-or-registration" class="loginformstyle">
                        <div>
                            <input name="Login"
                                   class="inputFields" type="text"
                                   @*placeholder="@Resource.Layout_Login"*@ />
                        </div>
                        <div>
                            <input name="Password"
                                   class="inputFields" type="password"
                                   @*placeholder="@Resource.Layout_Password"*@ />
                        </div>
                        <div>
                            <input name="ConfirmPassword"
                                   class="inputFields confirmPassword hide" type="password"
                                   @*placeholder="@Resource.Layout_Password"*@ />
                        </div>
                        <div>
                            <input name="PhoneNumber"
                                   class="inputFields phoneNumber hide" type="password"
                                   @*placeholder="@Resource.Layout_Password"*@ />
                        </div>

                        <div class="login-but">
                            <input class="pglogbut login" type="submit"
                                   value="Login" />
                        </div>

                        @*<div class="or">or</div>*@
                        <div class="registration-but">
                            <input class="pglogbut reg hide" type="submit"
                                   value="Registration" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <header class="header">
            <div class="container">
                <div class="header-full">
                    <nav class="menu-header-first">
                        <ul class="menu-list">
                            <li><a href="" class="menu-link">О проекте</a></li>
                            <li><a href="" class="menu-link">Инструкции</a></li>
                            <li><a href="" class="menu-link">Контакты</a></li>
                        </ul>
                    </nav>
                    <a class="menu-header-second link" href="/Home/Index">
                        <div>
                            MyApptechka
                        </div>
                    </a>
                    <nav class="menu-header-third">
                        <ul class="menu-list">
                            <li><a href="" class="menu-link">О проекте</a></li>
                            <li><a href="" class="menu-link">Инструкции</a></li>
                            <li><a href="" class="menu-link">Контакты</a></li>
                        </ul>
                    </nav>
                    <div class="menu-header-fourth">
                        <div class="link log-in">
                            Войти
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="content">
            <div class="container">
                @RenderBody()
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="footer-full">
                    <div class="menu-footer-left">
                        &copy; 2021 - MyApptechkaWeb
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>