<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/reset.css?v=1" />
    <link rel="stylesheet" href="~/css/layout.css?v=3" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/layout.js?v=1"></script>
    <script src="~/js/registration.js?v=1"></script>

    @RenderSection("Scripts", required: false)
    @RenderSection("Style", required: false)
</head>
<body>
    <div class="wrapper">
        <div class="nice-popup hide">
            <div class="popup-cover"></div>
            <div class="login-block login-block-login">
                <div class="reg-login-btn">
                    @*<div class="reg-log-container">*@
                    <div class="switcher-login-btn">Вход</div>
                    <div class="switcher-reg-btn non-selected-reg non-selected-reg-login">Регистрация</div>
                    @*</div>*@
                </div>
                <div class="login-direction">


                    <form action="/User/Login" method="post" id="login-or-registration" class="loginformstyle">
                        <div class="for-login">
                            <div>Логин:</div>
                            <input name="Login"
                                   class="inputFields" id="test" type="text"
                                   @*placeholder="@Resource.Layout_Login"*@ />
                        </div>
                        <div class="for-login">
                            <div class="text-for-input">Пароль:</div>
                            <input name="Password"
                                   class="inputFields" type="password"
                                   @*placeholder="@Resource.Layout_Password"*@ />
                        </div>
                        <!--<div class="confirmPassword hide">
                    <div>Подтвердить пароль:</div>
                    <input name="ConfirmPassword"
                           class="inputFields" type="password"-->
                        @*placeholder="@Resource.Layout_Password"*@
                        <!--/>
                </div>
                <div class="phoneNumber hide">
                    <div>Номер телефона:</div>
                    <input name="PhoneNumber"
                           class="inputFields" type="text"-->
                        @*placeholder="@Resource.Layout_Password"*@
                        <!--/>
                </div>-->

                        <div class="login-but for-login">
                            <input class="pglogbut" type="submit"
                                   value="Войти" />
                        </div>

                        @*<div class="or">or</div>*@
                        @*<div class="registration-but">
                        <input class="pglogbut reg hide" type="submit"
                               value="Зарегистрироваться" />
                    </div>*@
                    </form>

                    <form action="/User/Registration" method="post" id="login-or-registration" class="loginformstyle">
                        <div class="for-reg hide">
                            <div>Логин:</div>
                            <input name="Login"
                                   class="inputFields" type="text"
                                   @*placeholder="@Resource.Layout_Login"*@ />
                            <div id="for-json-result"></div>
                        </div>
                        <div class="for-reg hide">
                            <div class="text-for-input">Пароль:</div>
                            <input name="Password"
                                   class="inputFields" type="password"
                                   @*placeholder="@Resource.Layout_Password"*@ />
                        </div>
                        <div class="confirmPassword for-reg hide">
                            <div class="text-for-input">Подтвердить пароль:</div>
                            <input name="ConfirmPassword"
                                   class="inputFields" type="password"
                                   @*placeholder="@Resource.Layout_Password"*@ />
                        </div>
                        <div class="phoneNumber for-reg hide">
                            <div class="text-for-input">Номер телефона:</div>
                            <input name="Phone"
                                   class="inputFields" type="text"
                                   @*placeholder="@Resource.Layout_Password"*@ />
                        </div>

                        @*<div class="login-but">
                        <input class="pglogbut login" type="submit"
                               value="Войти" />
                    </div>*@

                        @*<div class="or">or</div>*@
                        <div class="registration-but for-reg hide">
                            <input class="pglogbut" type="submit"
                                   value="Зарегистрироваться" />
                        </div>
                    </form>
                </div>
            </div>

            <div class="confirmation-reg-popup-cover">

            </div>
            <div class="confirmation-reg">

            </div>
        </div>

        <header class="header">
            <div class="container">
                <div class="header-full">
                    <nav class="menu-header-first">
                        <ul class="menu-list">
                            <li><a href="" class="menu-link">О проекте</a></li>
                            <li><a href="" class="menu-link">Инструкции</a></li>
                            <li><a href="" class="menu-link">Контакты</a></li>
                        </ul>
                    </nav>
                    <a class="menu-header-second link" href="/Home/Index">
                        <div>
                            MyApptechka
                        </div>
                    </a>
                    <nav class="menu-header-third">
                        <ul class="menu-list">
                            <li><a href="" class="menu-link">О проекте</a></li>
                            <li><a href="" class="menu-link">Инструкции</a></li>
                            <li><a href="" class="menu-link">Контакты</a></li>
                        </ul>
                    </nav>
                    <div class="menu-header-fourth">
                        <div class="link log-in">
                            Войти
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="content">
            <div class="container">
                @RenderBody()
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="footer-full">
                    <div class="menu-footer-left">
                        &copy; 2021 - MyApptechkaWeb
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>