@using MyApptechkaWeb.Service.Interface
@inject IUserService userService


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/reset.css?v=1" />
    <link rel="stylesheet" href="~/css/layout.css?v=3" />
    <link rel="stylesheet" href="~/css/icon.css?v=1" />
    <link rel="stylesheet" href="~/css/registrationPage.css" />
    <link rel="stylesheet" href="~/css/profile.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/layout.js?v=1"></script>
    <script src="~/js/registration.js?v=1"></script>

    @RenderSection("Scripts", required: false)
    @RenderSection("Style", required: false)
</head>
<body>
    <div class="wrapper">
        <div class="nice-popup hide">
            <div class="popup-cover"></div>
            <div class="login-block login-block-login">
                <div class="reg-login-btn">
                    @*<div class="reg-log-container">*@
                    <div class="switcher-login-btn">Вход</div>
                    <div class="switcher-reg-btn non-selected-reg non-selected-reg-login">Регистрация</div>
                    @*</div>*@
                </div>
                <div class="login-direction">
                    <form action="/User/Login" method="post" id="login-or-registration" class="loginformstyle">
                        <div class="for-login">
                            <div>Логин:</div>
                            <input name="Login"
                                   class="inputFields input-for-login login-for-login"
                                   id="test"
                                   type="text"
                                   autocomplete="off"
                                   placeholder="User" />
                        </div>
                        <div class="for-login">
                            <div class="text-for-input">Пароль:</div>
                            <input name="Password"
                                   class="inputFields input-for-login password-for-login"
                                   type="password" />
                        </div>

                        <button class="login-but for-login" disabled>
                            Войти
                        </button>
                    </form>

                    <form action="/User/Registration" method="post" id="login-or-registration" class="loginformstyle">
                        <div class="for-reg hide">
                            <div>Логин: <span class="label-requested-fields">*</span></div>
                            <input name="Login"
                                   class="inputFields for-reg login-for-reg"
                                   type="text"
                                   autocomplete="off"
                                   placeholder="User" />
                            <div id="for-json-result"></div>
                        </div>
                        <div class="for-reg hide">
                            <div class="text-for-input for-reg">Пароль: <span class="label-requested-fields">*</span></div>
                            <input name="Password"
                                   class="inputFields password-for-reg"
                                   type="password" />
                        </div>
                        <div class="confirmPassword for-reg hide">
                            <div class="text-for-input">Подтвердить пароль: <span class="label-requested-fields">*</span></div>
                            <input name="ConfirmPassword"
                                   class="inputFields confirm-password-for-reg"
                                   type="password" />
                        </div>
                        <div class="phoneNumber for-reg hide">
                            <div class="text-for-input">Номер телефона: <span class="label-requested-fields">*</span></div>
                            <input name="Phone"
                                   class="inputFields phone-for-reg"
                                   type="text"
                                   maxlength="13"
                                   autocomplete="off"
                                   placeholder="+375290000000" />
                        </div>

                        <div>
                            <input class="pglogbut reg-btn hide" type="submit"
                                   value="Зарегистрироваться" />
                        </div>
                    </form>
                    <button class="registration-btn hide" disabled>
                        Отправить код на указанный номер телефона для подтверждения регистрации
                    </button>
                    <div class="spinner-reg hide">
                        <span class="icon spinner"></span>
                        <div class="spinner-reg-text">Пожалуйста, подождите...</div>
                    </div>
                </div>
            </div>

            <div class="confirmation-reg-popup-cover hide"></div>
            <div class="confirmation-reg hide">
                <div class="confirmation-reg-text">Введите код подтверждения из СМС:</div>
                <div class="inputs-for-code-reg">
                    <input class="code-from-sms-reg code-input1" name="testtest" maxlength="1" autofocus />
                    <input class="code-from-sms-reg code-input2" maxlength="1" />
                    <input class="code-from-sms-reg code-input3" maxlength="1" />
                    <input class="code-from-sms-reg code-input4" maxlength="1" />
                </div>
                <button class="confirmation-code-btn confirmation-code-btn-open hide" disabled>Подтвердить регистрацию</button>
            </div>
        </div>

        <header class="header">
            <div class="container">
                <div class="header-full">
                    <nav class="menu-header-first">
                        <ul class="menu-list">
                            <li><a href="" class="menu-link">О проекте</a></li>
                            <li><a href="" class="menu-link">Контакты</a></li>
                            <li><a href="" class="menu-link"></a></li>
                            <li><a href="" class="menu-link"></a></li>
                            <li><a href="" class="menu-link"></a></li>
                            <li><a href="" class="menu-link"></a></li>
                        </ul>
                    </nav>
                    <a class="menu-header-second link" href="/Home/Index">
                        <div>
                            MyApptechka
                        </div>
                        <span>
                            <img class="main-logo" src="~/image/main-logo.png" />
                        </span>
                    </a>
                    <nav class="menu-header-third">
                        <ul class="menu-list">
                            <li><a href="" class="menu-link"></a></li>
                            <li><a href="" class="menu-link"></a></li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li><a href="/Aptechka/Aptechka" class="menu-link link"> Аптечки</a></li>
                                <li>
                                    <a href="/User/Profile" class="menu-link">
                                        <div class="block-profile-header">
                                            <span class="">
                                                <img class="avatar-header" src="@userService.GetAvatarUrl()" />
                                            </span>
                                            Профиль
                                        </div>
                                    </a>
                                </li>
                            }

                        </ul>
                    </nav>
                    <div class="menu-header-fourth">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="/User/Logout">
                                <div class="link log-out">
                                    Выйти
                                </div>
                            </a>
                        }
                        else
                        {
                            <div class="link log-in">
                                Войти
                            </div>
                        }
                    </div>
                </div>
            </div>
        </header>

        <div class="content">
            <div class="container">
                @RenderBody()
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="footer-full">
                    <div class="menu-footer-left">
                        &copy; 2021 - MyApptechkaWeb
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>