@model AddAptechkaViewModel
@*@model DrugViewModel*@

@using MyApptechkaWeb.Service.Interface
@using AutoMapper

<div class="aptechka-container">
    <div>
        <div>

        </div>
        <div>

        </div>
    </div>
    <div>

    </div>
</div>

<div>
    Это аптечка: @Model.Name и ее цвет: @Model.Color
</div>

<div>
    <form action="/Aptechka/AddDrug" method="post">
        <input type="hidden" name="AptechkaOwnerId" value="@Model.Id" />
        <div>
            Name: <input name="Name" type="text" autocomplete="off" />
        </div>
        <div>
            Form: <input name="Form" type="text" autocomplete="off" />
        </div>
        <input type="submit" value="Добавить лекарство" />
    </form>
</div>

@foreach (var drug in Model.Drugs)
{
    <div>
        Name: @drug.Name, Form: @drug.Form
    </div>
}