@model AddAptechkaViewModel
@*@model DrugViewModel*@

@using MyApptechkaWeb.Service.Interface
@using AutoMapper

@inject IAptechkaService aptechkaService

<div class="aptechka-container">
    <div class="aptechka-edit-info-popup hide">
        <div class="aptechka-edit-info-popup-cover"></div>
        <div class="edit-aptechka-block">
            <div class="title-edit-aptechka">Измененение аптечки</div>

            <form action="/Aptechka/Aptechkas" method="post" enctype="multipart/form-data">
                @Html.HiddenFor(x => x.Id)
                <div class="separated-row-edit-aptechka">
                    <div class="left-column-edit-aptechka">Название:</div>
                    <div class="right-column-edit-aptechka">
                        <textarea name="Name"
                               type="text"
                               autocomplete="off"
                               class="input-edit-aptechka">@Model.Name</textarea>
                    </div>
                </div>

                <div class="separated-row-edit-aptechka">
                    <div class="left-column-edit-aptechka">Расположение:</div>
                    <div class="right-column-edit-aptechka">
                        <textarea name="Location"
                               type="text"
                               autocomplete="off"
                               class="input-edit-aptechka">@Model.Location</textarea>
                    </div>
                </div>

                <div class="separated-row-edit-aptechka">
                    <div class="left-column-edit-aptechka">Цвет:</div>
                    <div class="right-column-edit-aptechka">
                        <textarea name="Color"
                               type="text"
                               autocomplete="off"
                               class="input-edit-aptechka">@Model.Color</textarea>
                    </div>
                </div>

                <div class="separated-row-edit-aptechka">
                    <div class="left-column-edit-aptechka">Доп. описание:</div>
                    <div class="right-column-edit-aptechka">
                        <textarea name="AdditionalDescription"
                                  type="text"
                                  autocomplete="off"
                                  class="input-edit-aptechka">@Model.AdditionalDescription</textarea>
                    </div>
                </div>

                <div class="separated-row-edit-aptechka">
                    <div class="left-column-edit-aptechka">Фото аптечки:</div>
                    <div class="right-column-edit-aptechka">
                        <input type="file" name="@nameof(AddAptechkaViewModel.AptechkaPicture)" />
                    </div>
                </div>

                <div class="btn-edit-aptechka">
                    <input type="submit" class="btn-input-edit-aptechka" value="Изменить аптечку" />
                </div>
            </form>
        </div>
    </div>







    <div class="left-block-aptechka">
        <div class="add-new-drug">
            <div class="title-for-add-drug">
                Добавить лекарство
            </div>
            <div>
                <form action="/Aptechka/AddDrug" method="post" class="inputs-for-add-drug">
                    <input type="hidden" name="AptechkaOwnerId" value="@Model.Id" />
                    <div class="separate-row-for-add-drug">
                        <div class="text-field-for-add-drug">Name: </div>
                        <div><input name="Name" class="input-field-for-add-drug" type="text" autocomplete="off" /></div>
                    </div>
                    <div class="separate-row-for-add-drug">
                        <div class="text-field-for-add-drug">Form: </div>
                        <div><input name="Form" class="input-field-for-add-drug" type="text" autocomplete="off" /></div>
                    </div>
                    <div class="separate-row-for-add-drug">
                        <div class="text-field-for-add-drug">Purpose: </div>
                        <div><input name="Purpose" class="input-field-for-add-drug" type="text" autocomplete="off" /></div>
                    </div>
                    <div class="separate-row-for-add-drug">
                        <div class="text-field-for-add-drug">Expiry date: </div>
                        <div><input name="ExpiryDate" class="input-field-for-add-drug" type="text" autocomplete="off" /></div>
                    </div>
                    <div class="separate-row-for-add-drug">
                        <div class="text-field-for-add-drug">Residue: </div>
                        <div><input name="Residue" class="input-field-for-add-drug" type="text" autocomplete="off" /></div>
                    </div>
                    <div class="separate-row-for-add-drug">
                        <div class="text-field-for-add-drug">Additional description: </div>
                        <div><input name="AdditionalDescription" class="input-field-for-add-drug" type="text" autocomplete="off" /></div>
                    </div>
                    <input class="button-for-add-drug" type="submit" value="Добавить лекарство" />
                </form>
            </div>
        </div>
        <div class="info-about-current-aptechka">
            <div class="info-aptechka-block">
                <div class="separated-row-info-aptechka">
                    <div class="left-column-info-aptechka">Name:</div>
                    <div class="right-column-info-aptechka">@Model.Name</div>
                </div>
                <div class="separated-row-info-aptechka">
                    <div class="left-column-info-aptechka">Location:</div>
                    <div class="right-column-info-aptechka">@Model.Location</div>
                </div>
                <div class="separated-row-info-aptechka">
                    <div class="left-column-info-aptechka">Color:</div>
                    <div class="right-column-info-aptechka">@Model.Color</div>
                </div>
                <div class="separated-row-info-aptechka">
                    <div class="left-column-info-aptechka">Description:</div>
                    <div class="right-column-info-aptechka">@Model.AdditionalDescription</div>
                </div>
                <div class="separated-row-info-aptechka">
                    <div class="left-column-info-aptechka">Photo:</div>
                    <div class="right-column-info-aptechka">
                        <img class="avatar-profile-page" src="@aptechkaService.GetAptechkaPictureUrl(Model.Id)" />
                    </div>
                </div>

                <div class="btn-popup-edit-aptechka">Редактировать</div>
            </div>
        </div>
    </div>
    <div class="right-block-aptechka">
        @if (Model.Drugs.Count != 0)
        {
            <div class="title-for-drugs">
                Список лекарств в аптечке"@Model.Name" (Всего: @Model.CountDrugs)
            </div>
            <div class="drugs-list">
                <div class="separate-row-for-drug">
                    <div class="drug-index-number">
                        №
                    </div>
                    <div class="drug-name">
                        Name
                    </div>
                    <div class="drug-form">
                        Form
                    </div>
                    <div class="drug-purpose">
                        Purpose
                    </div>
                    <div class="drug-expirydate">
                        ExpiryDate
                    </div>
                    <div class="drug-residue">
                        Residue
                    </div>
                </div>
                @for (int i = 0; i < Model.Drugs.Count; i++)
                {
                    <a href="/Aptechka/Drug?id=@Model.Drugs[i].Id" class="lint-to-drug">
                        <div class="separate-row-for-drug">
                            <div class="drug-index-number">
                                @(i+1)
                            </div>
                            <div class="drug-name">
                                @Model.Drugs[i].Name
                            </div>
                            <div class="drug-form">
                                @Model.Drugs[i].Form
                            </div>
                            <div class="drug-purpose">
                                @Model.Drugs[i].Purpose
                            </div>
                            <div class="drug-expirydate">
                                @Model.Drugs[i].ExpiryDate
                            </div>
                            <div class="drug-residue">
                                @Model.Drugs[i].Residue
                            </div>
                        </div>
                    </a>
                }
            </div>
        }
        else
        {
            <div class="title-for-drugs">
                В аптечку не добавлено ни одного лекарства. Добавьте лекарство для отображения списка.
            </div>
        }
    </div>
</div>