@model DrugViewModel
@*@model DrugViewModel*@

@using MyApptechkaWeb.Service.Interface
@using AutoMapper

<div class="drug-container">
    <div class="left-block-drug">

    </div>
    <div class="right-block-drug">
        <div class="title-about-drug"></div>
        <div class="info-about-drug">
            <div class="separate-row-info-about-drug">
                <div class="left-column-info-drug">Name:</div>
                <div class="right-column-info-drug">@Model.Name</div>
            </div>
            <div class="separate-row-info-about-drug">
                <div class="left-column-info-drug">Form:</div>
                <div class="right-column-info-drug">@Model.Form</div>
            </div>
            <div class="separate-row-info-about-drug">
                <div class="left-column-info-drug">Purpose:</div>
                <div class="right-column-info-drug">@Model.Purpose</div>
            </div>
            <div class="separate-row-info-about-drug">
                <div class="left-column-info-drug">Purpose:</div>
                <div class="right-column-info-drug">@Model.Purpose</div>
            </div>
            <div class="separate-row-info-about-drug">
                <div class="left-column-info-drug">Purpose:</div>
                <div class="right-column-info-drug">@Model.Purpose</div>
            </div>
            <div class="separate-row-info-about-drug">
                <div class="left-column-info-drug">Purpose:</div>
                <div class="right-column-info-drug">@Model.Purpose</div>
            </div>
        </div>
    </div>
</div>